language: java
deploy:
  provider: releases
  api_key:
    secure: PNF1zu7JiEcJ0hIPII3I2HXltSCmLGBwfHv7tKAEoONyjVPBXvVmvJb0Tva08VOnYVAaxCvAOlg4KnHySkQ6wlBIAcWs+LSX/OS6fgx+IB469iycyo8Cg8H23yDUPiiVWnfuq82ggoBvWbP6r94y+AyWIyssLcv6TZQ4ZbSJ1cU=
  file_glob: true
  file: build/libs/*
  skip_cleanup: true
  on:
    all_branches: true
    tags: true
    repo: xebialabs-community/xld-versions-plugin
notifications:
  hipchat:
    rooms:
      secure: G8OaTyfe6EXDMxcyztaQsVQahUgMRcn/L/tPB8eg5lecISQ8YN3/b/7mB+D/iShmeaUn6SgAiwWxXC+q7p7ZWucxno0MtjbsAVhZhzkT4fn/gHITTCqvo9Vl2rosfF7dqdI6Uo0Kl5jP4OGCOF617IFkV0IMNmvFpXry7qbfCCg=
