h3 {
  margin: 0px 0 20px 0;
}

.content {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  background: #fff none;
}

.header div {
  background-color: #ccc;
}

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #555;

  border: 1px solid #ccc;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

table.overview > tbody > tr > td             { height: 50px; min-width: 50px;}
table.overview > tbody > tr > td:first-child { border-right: 1px solid black; text-align: left; }
table.overview > tbody > tr:first-child > td { border-bottom: 1px solid black; }

table.overview > tbody > tr > td a             { font-size: 2em; color: green; }
table.overview > tbody > tr > td:first-child a { font-size: 1em; color: black; }
table.overview > tbody > tr:first-child > td a { font-size: 1em; color: black; }

table.overview > tbody > tr > td a img       { font-size: 2em; visibility: hidden; }
table.overview > tbody > tr > td a:hover img { font-size: 2em; visibility: visible; }

table.overview > tbody > tr > td:first-child .glyphicon       { color: #D0D0D0; }
table.overview > tbody > tr > td:first-child .glyphicon:hover { color: #000000; }

table.overview > tbody > tr > td:nth-child(even)                 { background-color: #D0D0D0; }
table.overview > tbody > tr:nth-child(even) > td                 { background-color: #F5F5F5; }
table.overview > tbody > tr:nth-child(even) > td:nth-child(even) { background-color: #D9D9D9; }

table.details td { height: 1em; background-color: transparent; padding: 0px 2px; border: none; text-align: left; }

td {
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
table {
  border-spacing: 0px;
  border-collapse: separate;
  table-layout: fixed;
}

.application .glyphicon:hover, .version:hover .glyphicon {
  color: #000000;
}
.application a.glyphicon {
  color: #D0D0D0;
}

td.diff {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}

ul {
  padding-left: 1em;
}
li {
  /*padding-left: 1em;*/
  list-style-type: none;
}

.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }
a:hover { text-decoration: none; }